{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - Media Server
    {% else %}
        Welcome to Media Server
    {% endif %}
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/video-js.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}


{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/video.min.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js'), no_js=True) }}
    {{ moment.lang('ru') }}
{% endblock %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('show_folder', folder_id=None) }}">Home</a></li>
<!--            <li class="breadcrumb-item"><a href="#">Library</a></li>-->
<!--            <li class="breadcrumb-item active" aria-current="page">Data</li>-->
          </ol>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul id="alert-list">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>
    <br>
{% endblock %}
